:root {
    --slidev-slide-container-background: #0b0b0b;
    direction: rtl;
}

.dark .slidev-layout {
    background-color: #0b0b0b;
}


.dark #slide-content {
    background-color: #0b0b0b;
}

.slidev-layout li {
    line-height: 1.8em;
    margin-right: 1.1em;
    padding-right: 0.2em;
}